<html>
<head><title>add user</title>
<script type ="text/javascript" language ="javascript" >
        var req; //定义变量，用来创建xmlhttprequest对象
		var group;
		var values="";
		
	function check(){
			values="";
			group=document.getElementById("group").value;
			var permission_list = document.createUser.permission_selected;
			var flag=0;

			if(group=="")
			{
				document.getElementById("error").innerHTML="组名不能为空";
				return false;
			}


			for(var i=0;i<permission_list.length;i++)
			{
				if(permission_list[i].checked)
				{
					flag++;
					values+=permission_list[i].value+",";
					
				}
			}
			values=values.substring(0,values.length-1);
			if(flag==0)
			{
			document.getElementById("error").innerHTML="请选权限";
			return false;
			}
			else
			{
				return true;
	        }
	}



		function creatReq() {
			if (!check())
				return false;
            var url="user_addGroup?group="+group+"&permission="+values; //要请求的服务端地址
            if(window.XMLHttpRequest) {
                req=new XMLHttpRequest();
            }
            else if(window.ActiveXObject) {
                req=new ActiveXObject("Microsoft.XMLHttp");
            }
            if(req) {
                req.open("GET",url,true); //与服务端建立连接(请求方式post或get，地址,true表示异步)
                req.onreadystatechange = callback; //指定回调函数
                req.send(null); //发送请求
            }
        }
        
        function callback() {
            if(req.readyState==4) //请求状态为4表示成功
            {
                    document.getElementById("error").innerHTML = req.responseText;
					
               
        	}
		}

		function closed(){
			parent.location.reload();
			window.close();
			}



</script>

<style type="text/css">
tr{
	text-align:left;
	}
</style>

</head>
<body>
	<center>
    <br />
    <br />
         <form id="v" name="createUser" method="post" action="" >
           <div> 
           <div style="color:#FF0000" id="error"></div> 
           
           <div><label style="font-size:12px" for="group">组名：
           </label><input id="group" style="border:solid thin #B6B6B6" class="i"  type="text"  /></div><br />
           <div style="font-size:12px; text-align:left">选择组权限:</div>
           <table>
           <tr>
              <td>
              	   <input type="checkbox" id="p1" name="permission_selected" value="manage_pm">
                   <label for="p1" style="font-size:12px">PM Management</label>
                   
              </td>
              <td>
                   <input type="checkbox" id="p2" name="permission_selected" value="manage_vm">             
                   <label for="p2" style="font-size:12px">VM Management</label>
              </td>
           </tr>
          
           <tr>
              <td>
                   <input type="checkbox" id="p3" name="permission_selected" value="manage_vd">              
                   <label for="p3" style="font-size:12px">VirtualDisk Management</label> 
              </td>
              <td>  
                   <input type="checkbox" id="p4" name="permission_selected" value="manage_yfs">             
                   <label for="p4" style="font-size:12px">Yfs Management</label>
              </td>
           </tr>
           
           <tr>
              <td>
                   <input type="checkbox" id="p5" name="permission_selected" value="manage_customer">              
                   <label for="p5" style="font-size:12px">Customer Management</label>
              </td>
              <td>
                   <input type="checkbox" id="p6" name="permission_selected" value="manage_User">            
                   <label for="p6" style="font-size:12px">User Management</label>
               </td>
            </tr>
            

            </table>                                                     
          <br />
           <div ><input value="add Group" type="button"  onclick="return creatReq()" /> <input value="close" type="button"  onclick="closed()" /> </div>
           </div>
         </form>
     </center>
</body>
</html>