{cover_enabled, true}.

{lib_dirs, ["deps/cclib"]}.

{sub_dirs, ["rel"]}.

{erl_opts, [
    {d, debug},
    {d, use_proxy},
    {d, use_trace},
    {d, use_notify},
    %{d, 'TEST'},
    {i, "deps/cclib/include"},
    {i, "deps"},
    report,
    verbose,
    %warn_export_all,
    debug_info
    ]}.

{edoc_opts, [
    {todo, true}
    ]}.

{dialyzer_opts, [
    %{from, src_code},
    {init_plt, "~/.dialyzer_plt"},
    {output_plt, "~/.dialyzer_plt"},
    {get_warnings, true}
    ]}.

{xref_warnings, true}.
{xref_checks, [{verbose, true}]}.

{deps_dir, ["deps"]}.
