<style>
    .div_btn_block {
        float: right;
        margin-right: 100px;
    }

    #div_node_tb {
        border-radius: 3px;
        -moz-border-radius: 3px;

        box-shadow: 0 3px 3px#C8C8C8;
        -webkit-box-shadow: 0 3px 3px #C8C8C8;
        -moz-box-shadow: 0 3px 3px #C8C8C8;

        float: left;
        margin-top: 10px;
    }

    #tb_drvs {
        font-size: 8px;
    }
</style>

<script>
$(document).ready(function(){
	var btn_node_mng = $('#btn_node_mng')
        btn_resetview = $('#btn_resetview')

	btn_resetview.click(function(){
		$('#div_node_dtls').html('');
		$("#tb_node_ctrl").setGridHeight(470);
		return false;
	});

	btn_node_mng.click(function(){
		$('#a_tab_node_ctrl').text('管理');
		$('#div_ctrl_mng_field').load('node/field_mng');
	});


/*
	$('#slt_rack').change(function(){
		r = $('#slt_rack option:selected').val();
		t = $('#slt_time option:selected').val();
		$('#div_statd_graph').load('node/stat_graph', {rack=r, time=t});
	});

	$('#slt_time').change(function(){
		r = $('#slt_rack option:selected').val();
		t = $('#slt_time option:selected').val();
		$('#div_stat_graph').load('node/stat_graph', {rack=r, time=t});
	});
*/
});
</script>

<script type="text/javascript">
$(document).ready(function(){

	$('#tb_node_ctrl').jqGrid({
		url:'node/rsrc/joined',
		datatype: 'json',
		mtype: 'GET',
		colNames:['ID', 'IP', 'Hostname',
					'状态',
					'CPU使用率', 'Load', 'Mem使用率', 'Swap使用率',
					'网络(in,out)(M)',
					'存储使用率',
					'进程'],
		colModel :[
		  {name:'id', index:'id', width:40, align:'center'},
		  {name:'ip', index:'ip', width:110, align:'center'},
		  {name:'hostname', index:'hostname', width:80, align:'center'},
		  {name:'status', index:'status', width:90, align:'center'},
		  {name:'cpu', index:'cpu', width:80, align:'center'},
		  {name:'load', index:'load', width:60, align:'center'},
		  {name:'mem', index:'mem', width:80, align:'center'},
		  {name:'swap', index:'swap', width:80, align:'center'},
		  {name:'nw', index:'nw', width:130, align:'center'},
		  {name:'drvs', index:'drvs', width:80, align:'center'},
		  {name:'srvc', index:'srvc', width:120, align:'center'}
		],
		pager: '#div_node_ctrl_pager',
		rowNum:15,
		rowList:[15,30,45],
		sortname: 'id',
		sortorder: 'desc',
		viewrecords: true,
		caption: '节点',
		//shrinkToFit:false,
		width: 1000,
		height: 470,
		loadui: 'disable',
		//multiselect: true,

		onSelectRow: function(rowid, iCol, cellcontent, e){
				//$("#tb_node_ctrl").setGridWidth($(window).width()*0.5);
				$("#tb_node_ctrl").setGridHeight($(window).height()*0.2);

				$.get("div/node_dtls",
						{"id": rowid},
						function(data){
							$("#div_node_dtls").html(data);
						});
				//$('#tb_node_ctrl').resetSelection();
				return false;
			},
	});

	$('#tb_node_ctrl').navGrid("#div_node_ctrl_pager",{add:false, edit:false, del:false, search:false});

	$.extend({
            refresh:function(){
                if ($('#interval_tip').hasClass('field_ctrl'))
                {
                    $('#tb_node_ctrl').trigger("reloadGrid");
                }
	    }
	});
	setInterval("$.refresh()",300000);
});
</script>

<div class="div_filter">

    <!--
    <div class="div_filter_block">
        <label for="rack" class="lbl_right">Rack:</label>
        <select name="rack" id="slt_rack">
            <option value="all">all</option>
            {% for r in racks %}
            <option value="{{ r.id }}">{{ r.name }}</option>
            {% endfor %}
        </select>
    </div>
    -->

    <div class="div_filter_block div_btn_block">
        <button id="btn_resetview">重置视图</button>
        <button id="btn_node_mng">管理视图</button>
    </div>
</div>

<div id="div_node_tb">
    <table id="tb_node_ctrl"></table>
    <div id="div_node_ctrl_pager"></div>
</div>


<div id="div_node_dtls"></div>
