<style>
.unit {
	margin: 10px;
	float:left;

	border: 1px solid #EEEEEE;
	font-size: 12px;

	border-radius: 3px;
	-moz-border-radius: 3px;

/*
	box-shadow: #888 0px 2px 2px;
	-webkit-box-shadow: #888 0px 2px 2px;
	-moz-box-shadow: #888 0px 2px 2px;
*/
}

.disk_unit {
	width: 430px;
	height: 160px;
}

.disk_unit label {
	font-size: 14px;
	color: #242424;
	font-weight: bold;
}

.disk_unit a {
	margin-right:5px;
}
</style>

<script language="javascript" type="text/javascript" src="static/flot/jquery.flot.min.js"></script>
<script language="javascript" type="text/javascript" src="static/flot/jquery.flot.pie.js"></script>


<script id="source" language="javascript" type="text/javascript">
$(function () {
    var data = [
        { label: "used",  data: {{ disk_used }} },
        { label: "free",  data: {{ disk_free }} }
    ];

    $.plot($("#placeholder"), data,
    {
        series: {
            pie: {
                tilt: 0.5,
                show: true
            }
        },
        legend: {
            show: false
        }
    });
});
</script>


<div class="disk_unit unit">
    <div id="placeholder" style="width: 250px;height:160px;float:right;"></div>

    <label style="float:left;clear:left;">存储状态:</label>

    <table style="float:left;clear:left;">
        <tr><td>容量:</td><td>{{ disk_total }} </td><td>GB</td></tr>
        <tr><td>已用:</td><td>{{ disk_used }} </td><td>GB</td></tr>
        <tr><td>可用:</td><td>{{ disk_free }} </td><td>GB</td></tr>
    </table>
</div>
